<nav>
  <div class="headerContainer">
    <div class="headerLogo">
      <a href="#">
        Livro de receitas
      </a>
    </div>

    <div class="linksContainer">
      <ul class="navigate">
        <li routerLinkActive="active" *ngIf="isAuthenticated"><a routerLink="/recipes">Receitas</a></li>
        <li routerLinkActive="active" *ngIf="!isAuthenticated"><a routerLink="/auth">Entrar</a></li>
        <li routerLinkActive="active"><a routerLink="/shoppingList">Lista de Compras</a></li>
      </ul>

      <ul class="manageContainer">
        <li class="showMenuReference" *ngIf="isAuthenticated">
          <a
          role="button"
          class="showMenu"
          appDropdown
          >
          Gerenciar ↓
        </a>
        <ul class="hiddenMenu">
          <li><a (click)="onSaveData()">Salvar Dados</a></li>
          <li><a (click)="onFetchData()">Pegar Dados</a></li>
        </ul>
      </li>
      <li *ngIf="isAuthenticated"><a (click)="onLogout()" style="color: rgb(253, 56, 56)">Sair</a></li>
      </ul>
    </div>
  </div>
</nav>
