<nav>
  <div class="headerContainer">
    <div class="headerLogo">
      <a href="#">
        Livro de receitas
      </a>
    </div>

    <div class="linksContainer">
      <ul class="navigate">
        <li><a href="#" (click)="handleViewComponentChange('recipe')">Receitas</a></li>
        <li><a href="#" (click)="handleViewComponentChange('shopping')">Lista de Compras</a></li>
      </ul>

      <ul>
        <li>
          <a href="#" role="button">Manage ↓</a>
          <ul class="hiddenMenu">
            <li><a href="#">Salvar Dados</a></li>
            <li><a href="#">Pegar Dados</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
