<div class="recipeDetailContainer">
  <div class="imageContainer">
    <img [src]="recipe.imagePath" alt="{{ recipe.name }}">
  </div>

  <div
    class="recipeDetailContent"
    appDropdown
  >
    <h1>{{ recipe.name }}</h1>

    <button>Gerenciar receita ↓</button>

    <ul class="dropdownMenu">
      <li><a (click)="onAddToShoppingList()">Adc em lista de compras</a></li>
      <li><a  routerLink="edit">Editar receita</a></li>
      <li><a (click)="onDeleteRecipe()">Deletar receita</a></li>
    </ul>
  </div>

  <div>
    <p>{{ recipe.description }}</p>
    <div>
      <ul>
        <li *ngFor="let ingredient of recipe.ingredients">{{ingredient.name}} <span>Qtd.: {{ingredient.amount}}</span></li>
      </ul>
    </div>
  </div>
</div>
