<div class="recipeDetailContainer">
  <div class="imageContainer">
    <img [src]="recipe.imagePath" alt="{{ recipe.name }}">
  </div>

  <div class="recipeDetailContent">
    <h1>{{ recipe.name }}</h1>

    <button>Manage Recipe ↓</button>

    <ul>
      <li><a href="#">Adc em lista de compras</a></li>
      <li><a href="#">Editar receita</a></li>
      <li><a href="#">Deletar receita</a></li>
    </ul>
  </div>

  <div>
    <p>{{ recipe.description }}</p>
    <p>Ingredientes</p>
  </div>
</div>
