.imageContainer, .imageContainer img {
  width: 50rem;
  aspect-ratio: 16/9;
}

.recipeDetailContent button {
  padding: 8px 12px;

  font-size: 14px;
  font-weight: 600;

  border: none;
  border-radius: 4px;

  color: white;
  background: rgb(56, 56, 212);

  cursor: pointer;
}

.recipeDetailContent .dropdownMenu {
  display: none;
  visibility: hidden;

  padding: 1rem;

  margin: 1rem 0;

  box-shadow: 0px 1px 3px rgb(158, 158, 158);

  background-color: white;
}

.recipeDetailContent.open .dropdownMenu {
  display: flex;
  flex-direction: column;

  gap: 1rem;

  visibility: visible;
}

.dropdownMenu li a {
  cursor: pointer;
}

.deleteButton {
  font-weight: 600;

  color: rgb(230, 1, 1);
}
