.recipeContainer {
  max-width: 30rem;
  width: 100%;

  border: 1px solid lightgray;
  border-radius: 4px;

  margin-top: 4px;
}

.recipeContainer a {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 1rem;

  gap: 10px;
}

a.active {
  color: white;
  background-color: rgb(47, 112, 252);

  box-shadow: 0px 0px 3px 1px rgb(100, 100, 100);
}
