<div class="editContainer">
  <div>
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="labels">
        <div class="labelContainer">
          <label for="name">Nome</label>
          <input
            type="text"
            id="name"
            name="name"
            ngModel
            required
          >
        </div>

        <div class="labelContainer">
          <label for="amount">Qtd.</label>
          <input
            type="number"
            id="amount"
            name="amount"
            ngModel
            required
            pattern="^[1-9]+[0-9]*$"
          >
        </div>
      </div>

      <div class="buttonsContainer">
        <button type="submit" id="success" [disabled]="!f.valid">
          {{ editMode ? "Atualizar" : "Adicionar" }}
        </button>
        <button type="button" id="danger" (click)="onDeleteItem()" *ngIf="editMode">
          Deletar
        </button>
        <button type="button" id="clear" (click)="onClear()">
          Limpar
        </button>
      </div>
    </form>
  </div>
</div>
