<div class="editContainer">
  <div>
    <form>
      <div class="labels">
        <div class="labelContainer">
          <label for="name">Name</label>
          <input type="text" id="name">
        </div>

        <div class="labelContainer">
          <label for="amount">Amount</label>
          <input type="number" id="amount">
        </div>
      </div>

      <div class="buttonsContainer">
        <button type="submit" id="success">Add</button>
        <button type="button" id="danger">Deletar</button>
        <button type="button" id="clear">Limpar</button>
      </div>
    </form>
  </div>
</div>
